<%= render 'users/user_info',user: @user %>
    
<h2>Books</h2>
<table>
  <thead>
    <th>Title</th>
    <th>Opinion</th>
    <th></th>
  </thead>
  
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td>
          <%=link_to book.title,book_path(@%>
        </td>
        <td>
          <%= book.body %>
        </td>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
